# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\xray2\OneDrive\NTNU\DataIng20_23\Vår2021\IDATT2001\Øvinger\Oving2019\ArvOgPolymorfiOblig2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
